*{
    margin: 0;
    padding: 0;
  }
  
  .header{
     background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(./background.jpg);
      
      width: 100%;
      height: 100vh;
      
  }
  
  .home-title{
      font-size: 3rem;
      font-weight: 900;
  }
  
  .home-p{
      font-size: 1.5rem;
      font-weight: 400;
  }
  
  .home-p2{
      font-size: 1.25rem;
      font-weight: 400;
  
  }
  
  
  
   
  
   .get-startbtn{
      height: 60px;
      width: 200px;
      color: #fff;
      background-color: rgb(193, 17, 25);
  
   }
  
   .get-startbtn:after{
      content: "\276f";
      margin-left: 5px;
  
   }
  
   .enjoytitle{
      font-size: 3rem;
      font-weight: 900;
   }
  
  
   .faq h2{
     font-size: 2.25rem;
     font-weight: 400;
     line-height: 1.87;
   } 
  
   .faq .accordion-button{
     color: #fff;
     font-size: 24px;
     font-weight: 400;
   }
  
   .faq .accordion {
     --bs-accordion-color:rgb(225,225,225);
     --bs-accordion-bg:rgb(45,45,45);
     --bs-accordion-border-color:none;
     --bs-accordion-border-radius:none;
      
  
   }
  
   .faq .accordion-item:first-of-type .accordion-button{
     border-top-left-radius: 0;
     border-top-right-radius: 0;
   }
  
  
  
  
   .faq .accordion-button:focus{
     border: none;
     box-shadow: none;
   }
   .faq .accordion-button:hover{
     background-color: rgb(65, 65, 65);
     
   }
  
   
    .faq .accordion-button:not(.collapsed){
     background-color: rgb(65, 65, 65);
     color: #fff;
   }
  
   
  
   .faq .accordion-button::after{
     content: "+";
     background-image: none;
     position: absolute;
     height: 30px;
     font-size: 50px;
     right: 45px;
     top: 5px;
   }
  
  .faq .accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
  
    content: "\00d7";
  
  }
  
  
    
  
  
  .foot {
    border-top: 5px solid #232323;
  }
  
  footer p,
  footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    font-weight: 400;
  }